Source: ros-noetic-sot-dynamic-pinocchio
Section: misc
Priority: optional
Maintainer: Guilhem Saurel <guilhem.saurel@laas.fr>
Build-Depends: debhelper (>= 9.0.0), cmake, doxygen, git, libgtest-dev <!nocheck>, liblapack-dev, libopenblas-dev, ros-noetic-dynamic-graph-python, ros-noetic-pinocchio, ros-noetic-sot-core, ros-noetic-sot-tools
Homepage: http://stack-of-tasks.github.io
Standards-Version: 3.9.2

Package: ros-noetic-sot-dynamic-pinocchio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblapack-dev, libopenblas-dev, ros-noetic-catkin, ros-noetic-dynamic-graph-python, ros-noetic-pinocchio, ros-noetic-sot-core, ros-noetic-sot-tools
Description: Pinocchio bindings for dynamic-graph
